.HomeBannerAbsContent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HomeBannerText{
    padding: 0px 10px;
    justify-content: end;
    align-items: center;

}