/* .logo {
  object-fit: contain;
}

.companyName {
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
} */
.logo {
  object-fit: contain;
}

.companyName {
  font-size: 1.20rem;
  font-weight: 600;
  color: white;
}
