@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.homeImgTxt{
  position: relative;
  width: 40%;
  top: 50%;
  left: 9%;
  color: #fff;
  /* font-size: 2vw; */
  /* font-weight: 700; */
}